@use '../util' as u;

%widget {
    padding: u.rem(16); // Placeholder
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: u.rem(40);
    max-width: min(100% - u.rem(40), u.rem(1000));
    margin-inline: auto;

    @include u.breakpoint(large) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }

    &__main,
    &__sidebar {
        padding: u.rem(40);
    }

    &__main {
        background-color: hsl(240, 99%, 33%);
    }

    &__sidebar {
        @include u.breakpoint-down(medium) {
            text-align: center;
        }
    }

    &__widget {
        // $widget: &;  Used for Interpolation
        &--magenta {
            @extend %widget;
            background-color: hsl(300, 100%, 30%);
        }
        &--green {
            @extend %widget; // #{$widget} Interpolation: Load the value of a variable in a Sass selector name
            background-color: green;
        }
    }
}